[Unit]
Description=Jenkins
After=jenkins.volume.service
Requires=jenkins.volume.service
Requires=docker.service
Requires=mesosmaster.app.*.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull bobtfish/jenkins
ExecStart=/usr/bin/docker run --rm -p 8080:8080 --name jenkins -t --volumes-from jenkins_volume --link mesos_master bobtfish/jenkins
ExecStop=/usr/bin/docker kill jenkins
ExecStopPost=/usr/bin/docker rm jenkins

[X-Fleet]
X-ConditionMachineOf=jenkins.volume.service
X-ConditionMachineOf=mesosmaster.app.*.service

