[Unit]
Description=Mesos Slave
Requires=docker.service
Requires=pullcontainers.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull redjack/mesos-slave
ExecStart=/usr/bin/docker run --rm --name mesosslave -t redjack/mesos-slave
ExecStop=/usr/bin/docker kill mesosslave
ExecStopPost=/usr/bin/docker rm mesosslave 

[X-Fleet]
X-Conflicts=mesosslave.app.*.service

