[Unit]
Description=Mesos Master

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull redjack/mesos-master
ExecStart=/usr/bin/docker run --rm --name mesosmaster -t redjack/mesos-master
ExecStop=/usr/bin/docker kill mesosmaster 
ExecStopPost=/usr/bin/docker rm mesosmaster 

[X-Fleet]
X-Conflicts=mesosmaster.app.*.service

