[Unit]
Description=Zookeeper

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull zookeeper:3.4.5 
ExecStart=/usr/bin/docker run --rm -p 2181:2181 -p 2888:2888 -p 3888:3888 --name zookeeper -t zookeeper:3.4.5 
ExecStop=/usr/bin/docker kill zookeeper 
ExecStopPost=/usr/bin/docker rm zookeeper 

[X-Fleet]
X-Conflicts=zookeeper.app.*.service

